<div class="container">
  <h2>Consultations</h2>
  <button mat-raised-button color="primary" routerLink="/consultation-form">Add Consultation</button>
  <table mat-table [dataSource]="consultations" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let consultation">{{ consultation.idConsultation }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let consultation">{{ consultation.dateConsultation | date }}</td>
    </ng-container>
    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let consultation">{{ consultation.statut }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let consultation">{{ consultation.description }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let consultation">
        <button mat-icon-button color="primary" [routerLink]="['/consultation-form', consultation.idConsultation]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteConsultation(consultation.idConsultation)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>