<div class="container">
  <h2>Prescriptions</h2>
  <button mat-raised-button color="primary" routerLink="/prescription-form">Add Prescription</button>
  <table mat-table [dataSource]="prescriptions" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let prescription">{{ prescription.id }}</td>
    </ng-container>
    <ng-container matColumnDef="doctorId">
      <th mat-header-cell *matHeaderCellDef>Doctor ID</th>
      <td mat-cell *matCellDef="let prescription">{{ prescription.doctorId }}</td>
    </ng-container>
    <ng-container matColumnDef="patientId">
      <th mat-header-cell *matHeaderCellDef>Patient ID</th>
      <td mat-cell *matCellDef="let prescription">{{ prescription.patientId }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let prescription">{{ prescription.date | date }}</td>
    </ng-container>
    <ng-container matColumnDef="medicationList">
      <th mat-header-cell *matHeaderCellDef>Medications</th>
      <td mat-cell *matCellDef="let prescription">{{ prescription.medicationList }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let prescription">
        <button mat-icon-button color="primary" [routerLink]="['/prescription-form', prescription.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePrescription(prescription.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>